---
layout: default
title: Get Involved
permalink: /get-involved/
---
<div class="row mt-5">

    <div class="col-12 col-xl-10 my-5 order-2 order-xl-1 mt-xl-0">
        <h2 class="h3"><i>Digital Storytelling Workshop (Fall 2023)</i></h2>
        <div class="row gx-5">
            <p class="col-12 col-lg-5">
                Faculty interested in incorporating digital storytelling around the <i>Lived Experiences: Race at
                    Miami</i> project
                are encouraged to apply for the upcoming Digital Storytelling Workshop to be held August 8-10, 2023.
                Funded by the Oxford Community Foundation and the Miami University Humanities Center, this Miami -
                Oxford community collaboration will focus on the Black experience in the Oxford Community. Led by
                the <a href="https://www.storycenter.org/">StoryCenter</a>, a non-profit organization that has been
                training people in the skills of transformational storytelling and community building across the
                globe since 1993, this workshop will provide storytelling training to an equal number of Miami
                University faculty and community leaders from Oxford.
            </p>

            <div class="col-12 col-lg-6">
                <figure>
                    <img src="/assets/img/site/GetInvolved_2_800px.jpg" class="rounded-3"
                        alt="Black Student Action Association members staff an information table during the Black Cultural Festival, September 1987" />
                    <figcaption>Black Student Action Association members staff an information table during the Black
                        Cultural Festival, September 1987</figcaption>
                </figure>
            </div>
        </div>

        <section>
            <h2 class="h3"><i>Miami-Oxford Community Events (Fall 2023)</i></h2>
            <div class="row gx-5">
                <p class="col-12 col-lg-5">
                    Join us for an upcoming exhibit featuring primary resources from the holdings of Smith Library of
                    Regional History and local community organizations, which will be co-curated by Brad Spurlock, Smith
                    History Library Manager and Jacqueline Johnson, Miami University Archivist. Focusing on the Black
                    experience in Oxford, Ohio, the exhibit will encourage participants to develop a sense of community
                    through a shared local history, and promote racial healing. The exhibit will open August 7th with a
                    reception and keynote by Dr. Carolyn Jefferson-Jenkins, the first woman of African American descent
                    to serve as national president of the League of Women Voters. Jefferson-Jenkins is also a 1974
                    graduate of the former Western College for Women, Oxford, Ohio.
                </p>
                <div class="col-12 col-lg-6">
                    <figure>
                        <img src="/assets/img/site/GetInvolved_1_800px.jpg" class="rounded-3"
                            alt="Miami University admissions counselor, Eddie Henson, talks to 6th grade Lincoln Heights students during a campus visit, 1994." />
                        <figcaption>Miami University admissions counselor, Eddie Henson, talks to 6th grade Lincoln
                            Heights students during a campus visit, 1994.</figcaption>
                    </figure>
                </div>
            </div>
        </section>

        <section>
            <div class="col-12 col-xl-11">
                <h2 class="h3">Curriculum Development</h2>
                <p>
                    We are looking to collaborate with faculty and educators to develop curriculum materials that
                    will use resources produced as part of the <i>Lived Experiences: Race at Miami University</i>
                    project. Possible collaborations could include supporting student-created storytelling
                    assignments for the website, incorporating <i>Lived Experiences</i> resources into media
                    productions, or developing curriculum materials that can support research projects across a
                    range of disciplines or age groups. Contact us for more information at <a
                        href="mailto:livedexperiences@miamioh.edu">livedexperiences@miamioh.edu</a>.
                </p>
            </div>
        </section>
    </div>

    <div class="col-12 col-xl-2 mt-5 d-block order-1 order-xl-2">
        <div class="sticky-top">
            <div>
                <h3>Share Your Stories</h3>
                <p>
                    Do you have a story to tell? <i>Lived Experiences</i> is an ongoing project and there are many ways
                    to get involved.
                </p>
                <p>
                    Alumni, faculty and staff who wish to be interviewed should contact <a
                        href="mailto:livedexperiences@miamioh.edu">livedexperiences@miamioh.edu</a>. To keep up
                    with Black alumni news and events, follow Miami Black Alumni on Instagram (<a
                        href="https://www.instagram.com/mublkalum/">@mublkalum</a>).</p>
            </div>
            <section class="d-none d-xl-block">
                <h3>Connect on Social Media</h3>
                {% include social-links.html %}
            </section>
        </div>
    </div>

    <section class="d-block d-xl-none order-3">
        <h3>Connect on Social Media</h3>
        {% include social-links.html %}
    </section>
</div>

<!-- <style>
    #share-your-story {
        position: sticky;
        top: 0px;
    }
</style> -->