---
layout: default
title: The Team
permalink: /team/
---

<section>
    <h2>Project Team</h2>
    <div class="text-center mt-5">
        <div class="d-flex justify-content-center flex-wrap">
            {% assign team-members = site.data.team | where: 'category', 'project-team' %}
            {% for member in team-members %}
            <div class="col-lg-2 mx-lg-4 col-12 mb-5" style="min-width: 270px;">
                <img src="{{ member.img }}" class="rounded-circle" alt="{{ member.name }}"
                    style="width: 270px; height: 270px; object-fit: cover;">
                <h3 class="mt-4 mb-0 h4">{{ member.name }}</h3>
                <p class="text-primary">{{ member.title }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section>
    <h2>Web Development and Support Team</h2>
    <div class="text-center mt-5">
        <div class="d-flex justify-content-center flex-wrap">
            {% assign team-members = site.data.team | where: 'category', 'web-team' %}
            {% for member in team-members %}
            <div class="col-lg-2 mx-lg-4 col-12 mb-5" style="min-width: 270px;">
                <img src="{{ member.img }}" class="rounded-circle" alt="{{ member.name }}"
                    style="width: 270px; height: 270px; object-fit: cover;">
                <h3 class="mt-4 mb-0 h4">{{ member.name }}</h3>
                <p class="text-primary">{{ member.title }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section>
    <h2>Student Assistants</h2>
    <div class="text-center mt-5">
        <div class="d-flex justify-content-center flex-wrap">
            {% assign team-members = site.data.team | where: 'category', 'student-assistants' %}
            {% for member in team-members %}
            <div class="col-lg-2 mx-lg-4 col-12 mb-5" style="min-width: 270px;">
                <img src="{{ member.img }}" class="rounded-circle" alt="{{ member.name }}"
                    style="width: 270px; height: 270px; object-fit: cover;">
                <h3 class="mt-4 mb-0 h4">{{ member.name }}</h3>
                <p class="text-primary">{{ member.title }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section>
    <h2>Advisory Board</h2>
    <div class="text-center mt-5">
        <div class="d-flex justify-content-center flex-wrap">
            {% assign team-members = site.data.team | where: 'category', 'advisory-board' %}
            {% for member in team-members %}
            <div class="col-lg-2 mx-lg-4 col-12 mb-5 advisor-container" style="width: 270px;">
                <!-- <div style="width: 270px; height: 270px;" class="rounded-circle border border-warning"></div> -->
                <div style="background: radial-gradient( #FFFFFF 30%, #FFF2CD 100%); width: 270px; height: 270px;"
                    class="rounded-circle"></div>
                <!-- <img src="/assets/img/cards/Homepage_Card1_ShandsFranklin.jpg"
                    style="width: 270px; height: 270px; object-fit: cover;" class="rounded-circle"> -->
                <h3 class="mb-0 h4 centered-top">{{ member.name }}</h3>
                <p class="text-primary centered-bottom ">{{ member.title }}</p>
            </div>
            {% endfor %}
        </div>
    </div>


    <style>
        .advisor-container {
            position: relative;
            text-align: center;
            color: white;
        }

        .centered-top {
            position: absolute;
            top: 26%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .centered-bottom {
            position: absolute;
            top: 64%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>




</section>