<div class="nav nav-tabs mb-3" id="cite-tab" role="tablist">
    <button class="nav-link active" id="nav-apa-tab" data-bs-toggle="tab" data-bs-target="#nav-apa" type="button" role="tab" aria-controls="nav-apa" aria-selected="true">APA</button>
    <button class="nav-link" id="nav-chicago-tab" data-bs-toggle="tab" data-bs-target="#nav-chicago" type="button" role="tab" aria-controls="nav-chicago" aria-selected="false">Chicago</button>
    <button class="nav-link" id="nav-mla-tab" data-bs-toggle="tab" data-bs-target="#nav-mla" type="button" role="tab" aria-controls="nav-mla" aria-selected="false">MLA</button>
  </div>
</nav>
<div class="tab-content" id="cite-tabContent">
  <div class="tab-pane fade show active" id="nav-apa" role="tabpanel" aria-labelledby="nav-apa-tab">{{apa}}</div>
  <div class="tab-pane fade" id="nav-chicago" role="tabpanel" aria-labelledby="nav-chicago-tab">{{chicago}}</div>
  <div class="tab-pane fade" id="nav-mla" role="tabpanel" aria-labelledby="nav-mla-tab">{{mla}}</div>
</div>