<ul id="social-link-cards" class="list-unstyled m-0 p-0 row row-cols-auto gy-3 d-flex">
    <li class="card p-0">
        <div class="card-body text-center"><i class="bi bi-instagram"></i></div>
        <div class="card-footer p-3">
            <a href="https://www.instagram.com/mublkalum/" aria-label="Miami Black Alumni Instagram" class="stretched-link">
                @mublkalum Instagram
            </a>
        </div>
    </li>
</ul> 




<style>
    #social-link-cards .bi-instagram {
        font-size: 150px;
    }
</style>